body {
    font-family: 'Open Sans', sans-serif;
}
#timer {
    background-color: #070707;
    /* padding: .2em .5em; */
    width: 350px;
    height: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#count {
    font-family: 'Iceberg', sans-serif;
    font-size: 69px;
    color: #3cdb7d;
}
#command {
    font-size: 26px;
    color: #f7f7f7;
}
#buttons {
    margin-top: 100px;
}
#reset {
    margin-top: 20px;
}